{% extends 'base.twig' %}

{% block content %}
    <div class="row">
        {{ show_massage() }}
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-2">
                    Имя автора:
                </div>
                <div class="col-md-10">
                    <h1>{{ post.author }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    Tекст:
                </div>
                <div class="col-md-10">
                    <p class="lead">{{ post.text }}</p>
                    <div>{{ post.created|date('d.m.Y') }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-10 offset-md-2">
        <ul class="list-group">
        {% for comment in comments %}
            <li class="list-group-item">
                <div>
                    <h4>Имя: {{ comment.author }}</h4>
                    <p>{{ comment.text }}</p>
                </div>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="col-md-12">
        <h3>Добавить коментарий</h3>
        <form id="form" action="/comment/add" method="GET" enctype="multipart/form-data">
            <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Имя" value="">
            </div>
            <div class="form-group">
                <textarea name="comment" class="form-control" id="comment" rows="3" placeholder="Коментарии"></textarea>
            </div>
            <input type="hidden" name="id" value="{{ post.id }}">
            <button type="submit" name="submit" id="send-submit" class="btn btn-primary">Изменить</button>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        jQuery.validator.addMethod(
                "regex",
                function(value, element, regexp) {
                    var re = new RegExp(regexp);
                    return this.optional(element) || re.test(value);
                },
                "Введены неразрешонные символы."
        );

        function validate_form() {
            return $( "#form" ).validate({
                rules: {
                    name: {
                        required: true,
                        regex: '^[а-яА-Яa-zA-Z ]+$'
                    },
                    comment: {
                        required: true,
                        minlength: 10
                    },
                },
                messages: {
                    fileToUpload: "Файл должен иметь формат JPG, GIF или PNG, размер должен быть меньше 1MB"
                }
            });
        }
        validate_form();
    </script>
{% endblock %}
