{% extends 'base.twig' %}

{% block content %}
    <div class="row">
        {% for item in items %}
            {% if item.accept %}
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-10">
                        <h1>{{ item.name }}</h1>
                    </div>
                    <div class="col-md-2">
                        {% if admin_logged %}
                            <a class="nav-link" href="/feedback/edit/{{ item.id }}">Edit</a>
                        {% endif %}
                        {% if item.changed %}
                            <p>Изменен админом</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div>{{ item.email }}</div>
                        <p class="lead">{{ item.texts }}</p>
                        <div>{{ item.createtime|date('d.m.Y') }}</div>
                    </div>
                    <div class="col-md-4">
                        {% if item.image %}
                            <img src="{{ item.image }}">
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        <div id="preview-bloc"></div>
    </div>
    <div class = "row">
        {{ show_massage() }}
        <form id="form" action="/post/save" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Имя">
                <small id="emailHelp" class="form-text text-muted">На фронтэнде валидация: ^[a-zA-Z0-9]+$ на бекенде ^[a-zA-Z]+$ - для демонстрации двойной валидации</small>
            </div>
            <div class="form-group">
                <textarea name="text" class="form-control" id="text" rows="3" placeholder="Текст поста"></textarea>
            </div>

            <button type="submit" name="submit" id="send-submit" class="btn btn-primary">Save</button>
        </form>
    </div>

{% endblock %}

{% block js %}
    <script>
        // just for the demos, avoids form submit
        $.validator.addMethod(
                "regex",
                function(value, element, regexp) {
                    var re = new RegExp(regexp);
                    return this.optional(element) || re.test(value);
                },
                "Введены неразрешонные символы."
            );
        $.validator.addMethod(
                'filesize',
                function(value, element, param) {
                    return this.optional(element) || (element.files[0].size <= param)
                });

        function validate_form() {
            return $( "#form" ).validate({
                rules: {
                    name: {
                        required: true,
                        regex: '^[а-яА-Яa-zA-Z0-9 ]+$'
                    },
                    text: {
                        required: true
                    },
                },
                messages: {
                    fileToUpload: "Файл должен иметь формат JPG, GIF или PNG, размер должен быть меньше 1MB"
                }
            });
        }
        validate_form();
    </script>
{% endblock %}
