{% extends 'base.twig' %}

{% block content %}
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for key, post in posts_with_comments %}
                    <li data-target="#carousel-example-generic" data-slide-to="{{ key }}" class="{% if key==0 %}active{% endif %}"></li>
                    {% endfor %}
                </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                {% for key, post in posts_with_comments %}
                    <div class="item
                    {% if key==0 %}active{% endif %}">
                        <div class="col-md-12">
                            <div class="col-md-6 col-md-offset-3">
                                <h4 class="center">Имя: {{ post.author }}</h4>
                                <p>{{ post.text|slice(0, 100) }}...</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div> <!-- Carousel -->
    </div>

    <div class="row">
        {{ show_massage() }}
        {% for post in posts %}
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-2">
                       Имя автора:
                    </div>
                    <div class="col-md-10">
                        <h4>{{ post.author }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        Текст:
                    </div>
                    <div class="col-md-10">
                        <p class="lead">{{ post.text|slice(0, 100) }}...</p>
                        <div>Дата: {{ post.created|date('d.m.Y') }}</div>
                        <div>Количество комментариев: {{ post.comment_count }}</div>
                        <div><a class="btn btn-info" href="/post/show/{{ post.id }}">Просмотреть</a> </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div id="preview-bloc"></div>
    </div>
    <div class = "row">
        <form id="form" action="/post/save" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Имя">
            </div>
            <div class="form-group">
                <textarea name="text" class="form-control" id="text" rows="3" placeholder="Текст поста"></textarea>
            </div>

            <button type="submit" name="submit" id="send-submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>

{% endblock %}

{% block js %}
    <script>
        $('.carousel').carousel({
            interval: 3000
        })
        $.validator.addMethod(
                "regex",
                function(value, element, regexp) {
                    var re = new RegExp(regexp);
                    return this.optional(element) || re.test(value);
                },
                "Введены неразрешонные символы."
            );
        $.validator.addMethod(
                'filesize',
                function(value, element, param) {
                    return this.optional(element) || (element.files[0].size <= param)
                });

        function validate_form() {
            return $( "#form" ).validate({
                rules: {
                    name: {
                        required: true,
                        regex: '^[а-яА-Яa-zA-Z ]+$'
                    },
                    text: {
                        required: true,
                        minlength: 10
                    },
                },
                messages: {
                    fileToUpload: "Файл должен иметь формат JPG, GIF или PNG, размер должен быть меньше 1MB"
                }
            });
        }
        validate_form();
    </script>
{% endblock %}
